@model TezProjesi.CustomModels.HotelModels.HotelPage
@{
    ViewData["Title"] = "Hotels";
    Layout = "~/Views/Shared/_Layout_admin.cshtml";
}
<div class="row">
    <div class="col-12 text-right">
        <div class="col-md-3 float-right">
            <a href="@Url.Action("YeniOtelEkle","Admin")" class="btn btn-success btn-block mt-3 mb-3" type="button">Yeni Otel Ekle</a>
        </div>
    </div>
</div>
<div class="table-responsive">
    <table id="Hotel_table" class="display table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Başlık</th>
                <th scope="col">Telefon Numarası</th>
                <th scope="col">Şehir</th>
                <th scope="col">Ülke</th>
                <th scope="col">Galeri</th>
                <th scope="col" class="text-center">
                    <span class="small">
                        <span class="text-success">Düzenle</span> |
                        <span class="text-danger">Sil</span>
                    </span>
                </th>
            </tr>
        </thead>
        @{ var cardIndx = 0; }
        <tbody>
            @foreach (var Hotel in Model.HotelList)
            {
                cardIndx++;
                <tr class="@Hotel.Id">
                    <th scope="row">@cardIndx</th>
                    <td>@Hotel.Title</td>
                    <td>@Hotel.Phone</td>
                    <td>@Hotel.City</td>
                    <td>@Hotel.Country</td>
                    <td>
                        <a title="Galeri" href="javascript:;" onclick="getImages('@Hotel.Id')" class="text-info">
                            <i class="fas fa-image"></i>
                        </a>
                    </td>
                    <td scope="col" class="text-center">
                        <a title="Düzenle" href="@Url.Action("OtelGuncelle","Admin",new {hotelId = Hotel.Id  })" class="text-success">
                            <i class="fas fa-pen"></i>
                        </a>
                        <a title="Sil" class="text-danger" href="@Url.Action("OtelSil","Admin",new {hotelId = Hotel.Id  })" onclick="return confirm('Silmek istediğinize emin misiniz?')">
                            <i class="fas fa-ban"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog  modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Galeri</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modal_gallery">
            </div>
        </div>
    </div>
</div>



<script>
    $(function () {
        $("#Hotel_table").DataTable({
            "responsive": true, "lengthChange": false, "autoWidth": false,
        }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
    });

    function getImages(hotelId) {
        $.ajax({
            type: "GET",
            url: "/Admin/GetHotelImages",
            data: { hotelId: hotelId },
            success: function (data) {
                $('#modal_gallery').html(data);
                $('#exampleModalCenter').modal('show');
            }
        });
    }
</script>




