@model TezProjesi.CustomModels.RandevuModels
@using TezProjesi.Resources
@{
    ViewData["Title"] = "Randevularım";
    Layout = "~/Views/Shared/_Layout_user.cshtml";
}
<script src="~/js/ckeditor/ckeditor.js"></script>

<section class="accomodation_area section_gap">
    @{ int i = 0;}
    <div class="container">
        <div class="section_title text-center">
            <h3 class="title_color"><span>@Resource.rezervasyonlarım</span></h3>
        </div>
        <div class="row mb-5">
            <div class="col-12">
                @foreach (var reservation in Model.Reservations)
                {
                    i++;
                    @using (Html.BeginForm("YorumKaydet", "User", FormMethod.Post, new { @class = "", @enctype = "multipart/form-data" }))
                    {

                        <input type="hidden" asp-for="hotelId" value="@reservation.HotelId" />
                        <input type="hidden" asp-for="roomId" value="@reservation.RoomId" />
                        <input type="hidden" asp-for="userId" value="@reservation.UserId" />
                        <div class="blog_left_sidebar">
                            <article class="row blog_item">
                                <div class="col-md-3">
                                    <div class="blog_info text-right">

                                        <ul class="blog_meta list_style">
                                            <li><a href="#">@reservation.Room.Title<i class="lnr lnr-home"></i></a></li>
                                            <li><a href="#">@reservation.Total ₺</a></li>
                                            <li><a href="#">@reservation.Startdate.Value.ToShortDateString()<i class="lnr lnr-calendar-full"></i></a></li>
                                            <li><a href="#">@reservation.Enddate.Value.ToShortDateString()<i class="lnr lnr-calendar-full"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <div class="blog_post">
                                        <img src="image/blog/main-blog/m-blog-1.jpg" alt="">
                                        <div class="blog_details">
                                            <h4>@reservation.Hotel.Title</h4>
                                            <div class="col-12 text-center">
                                                <img src="~/HotelImg/@reservation.Hotel.Image.FirstOrDefault().HotelImg" height="300" />
                                            </div>
                                            <div class="col-12" style="max-height:400px !important;">
                                                @if (reservation.Checkout == true)
                                                {
                                                    <textarea asp-for="comment" id="comment_@i"></textarea>
                                                    <button type="submit" class="view_btn btn-block button_hover"><h4 class="sec_h4">@Resource.yorumyap</h4></button>
                                                    <script>
                                                     CKEDITOR.replace("comment_@i");
                                                    </script>
                                                }
                                            </div>
                                            <div class="col-12">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>

                    }
                }
            </div>
        </div>
    </div>
</section>

