@using Microsoft.AspNetCore.Http
@using System.Security.Claims;

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="~/Website/image/favicon.png" type="image/png">
    <title>EBG Tur</title>
    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="~/Website/css/bootstrap.css">
    <link rel="stylesheet" href="~/Website/vendors/linericon/style.css">
    <link rel="stylesheet" href="~/Website/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Website/vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Website/vendors/bootstrap-datepicker/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="~/Website/vendors/nice-select/css/nice-select.css">
    <link rel="stylesheet" href="~/Website/vendors/owl-carousel/owl.carousel.min.css">
    <!-- main css -->
    <link rel="stylesheet" href="~/Website/css/style.css">
    <link rel="stylesheet" href="~/Website/css/responsive.css">
</head>
<body>
    <!--================Header Area =================-->
    <header class="header_area">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light">
                <!-- Brand and toggle get grouped for better mobile display -->
                <a class="navbar-brand logo_h" href="index.html"><img src="~/Website/image/Logo.png" alt=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                    <ul class="nav navbar-nav menu_nav ml-auto">
                        <li class="nav-item active"><a class="nav-link" href="@Url.Action("Index","User")">Ana sayfa</a></li>
                        @*<li class="nav-item"><a class="nav-link" href="@Url.Action("Hakkımızda","User")">Hakkımızda</a></li>*@
                        <li class="nav-item"><a class="nav-link" href="@Url.Action("Oteller","User")">Oteller</a></li>
                        <li class="nav-item"><a class="nav-link" href="@Url.Action("İletisim","User")">İletişim</a></li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item"><a class="nav-link">@User.Claims.Where(c => c.Type == ClaimTypes.Actor).FirstOrDefault().Value</a></li>
                        }
                        else
                        {
                            <li class="nav-item"><a class="nav-link" href="@Url.Action("LoginUser","Giris")">Giriş Yap</a></li>
                        }


                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <!--================Header Area =================-->
    @RenderBody()

    <!--================ start footer Area  =================-->
    <footer class="footer-area section_gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h6 class="footer_title">Hızlı Menü</h6>
                        <div class="row">
                            <div class="col-4">
                                <ul class="list_style">
                                    <li><a href="#">Ana Sayfa</a></li>
                                    @*<li><a href="#">Hakkımızda</a></li>*@
                                    <li><a href="#">İletişim</a></li>
                                    <li><a href="#">Oteller</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h6 class="footer_title">Popüler Bölgeler</h6>
                        <div class="row">
                            <div class="col-4">
                                <ul class="list_style">
                                    <li><a href="#">Antalya Otelleri</a></li>  
                                    <li><a href="#">Alanya Otelleri</a></li>   <li><a href="#">Belek Otelleri</a></li>
                                    <li><a href="#">Ağva Otelleri</a></li>     <li><a href="#">Bodrum Otelleri</a></li>
                                    <li><a href="#">Ayvalık Otelleri</a></li>  <li><a href="#">Bodrum Otelleri</a></li>
                                    <li><a href="#">Kemer Otelleri</a></li>    <li><a href="#">Bozcaada Otelleri</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="border_line"></div>
            <div class="row footer-bottom d-flex justify-content-between align-items-center">
                <p class="col-lg-8 col-sm-12 footer-text m-0">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
                <div class="col-lg-4 col-sm-12 footer-social">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-dribbble"></i></a>
                    <a href="#"><i class="fa fa-behance"></i></a>
                </div>
            </div>
        </div>
    </footer>
    <!--================ End footer Area  =================-->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="~/Website/js/jquery-3.2.1.min.js"></script>
    <script src="~/Website/js/popper.js"></script>
    <script src="~/Website/js/bootstrap.min.js"></script>
    <script src="~/Website/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="~/Website/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/Website/js/mail-script.js"></script>
    <script src="~/Website/vendors/bootstrap-datepicker/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Website/vendors/nice-select/js/jquery.nice-select.js"></script>
    <script src="~/Website/js/mail-script.js"></script>
    <script src="~/Website/js/stellar.js"></script>
    <script src="~/Website/vendors/lightbox/simpleLightbox.min.js"></script>
    <script src="~/Website/js/custom.js"></script>
</body>
</html>
