@model TezProjesi.Models.LoginModel;
@using TezProjesi.Resources
@{
    ViewData["Title"] = "LoginUser";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@Resource.girisyap</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="~/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <link rel="stylesheet" href="~/dist/css/adminlte.min.css">
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <a href="../../index2.html" class="h1"><b>EBG</b> Tur</a> <br />
                <h2>@Resource.girisyap</h2>
            </div>
            <div class="card-body">
                <p class="login-box-msg">@Resource.girisyap</p>

                @using (Html.BeginForm("UserLogin", "Giris", FormMethod.Post))
                {
                    <div class="input-group mb-3">
                        @Html.TextBoxFor(m => m.Username, null, new { @class = "form-control", @required = true, @id = "username", @placeholder = "Kullanıcı Adı" })
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        @Html.TextBoxFor(m => m.Password, null, new { @class = "form-control", @required = true, @id = "username", @placeholder = "Şifre", @type = "password" })
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary btn-block">@Resource.girisyap</button>
                        </div>
                    </div>
                }
                <br />
                <div class="row">
                    <div class="col-12">
                        <a href="@Url.Action("Kaydol","User")" class="btn btn-primary btn-block">@Resource.kaydol</a>
                    </div>
                </div>
                <br />
                <div class="col-12">
                    <p class="text-danger">@ViewBag.Message</p>
                </div>


            </div>
        </div>
    </div>
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/dist/js/adminlte.min.js"></script>
</body>
</html>


